* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Fivo Sans', sans-serif;
    background-color: #1C1C27;
    overflow-x: hidden;
}

nav {
    height: 100px;
    background-color: #28293D;
    opacity: 0.9;
    position: sticky;
    top: 0;
    z-index: 10;
}

nav input {
    display: none;
    z-index: -100;
}

nav .contenedor-nav {
    width: 80vw;
    max-width: 1500px;
    margin: auto;
    margin-left: 10vw;
    margin-right: 10vw;
    overflow: hidden;
    display: flex;
    height: 100%;
}

nav .logo-cont {
    display: flex;
    align-items: center;
    float: left;
    width: 25%;
}

nav .logo {
    width: 40px;
}

nav .resto-nav {
    width: 80%;
}

.menu {
    float: right;
    line-height: 100px;
}

.menu a {
    color: #ababab;
    text-decoration: none;
    text-transform: uppercase;
    padding: 0 10px;
    transition: 0.4s;
    text-align: center;
    font-size: 13px;
}

.mostrar-menu-btn,
.esconder-menu-btn {
    transition: 0.4s;
    font-size: 25px;
    cursor: pointer;
    display: none;
    color: #fff;
}

i.fas.fa-times {
    margin-right: 5vw;
}

.mostrar-menu-btn {
    float: right;
}


.mostrar-menu-btn i {
    line-height: 100px;
}

.menu a:hover,
.mostrar-menu-btn:hover,
.esconder-menu-btn:hover {
    color: #5CDC95;
}

#chk {
    position: absolute;
    z-index: -100;
    background-color: #043264;
    border-radius: 50%;
}

header {
    width: 90%;
    max-width: 1500px;
    height: 800px;
    margin: auto;
    padding: 5vw;
    padding-top: 200px;
    padding-right: 0;
    background-image: url(../img/header-bg.jpg);
    background-size: cover;
    background-position: center;
    overflow: hidden;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}


header .titulo {
    height: 450px;
    float: left;
    transition: height 0.5s;
}

header .titulo:hover {
    height: 500px;
}

header .textos .logo-header {
    width: 30px;
    float: right;
    transition: margin-top 0.5s;
}

header .textos .logo-header:hover {
    margin-top: 100px;
}


section#sobre-mi {
    background-color: #1C1C27;
    width: 100%;
    max-width: 1500px;
    margin: auto;
    overflow: hidden;
}

.contenedor {
    width: 90%;
    max-width: 1500px;
    margin: auto;
    padding: 5vw;
    overflow: hidden;
}

div.my-photo {
    width: 40%;
    height: 300px;
    float: left;
    background-image: url(../img/my-photo.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 10px;
}

div.sobre-mi-text {
    width: 55%;
    float: right;
    margin-left: 15px;
}

main h2.subtitulo {
    color: #5CDC95;
    text-transform: uppercase;
    font-weight: 800;
    margin-bottom: 5px;
}

main hr.subtitulo-hr {
    width: 50%;
    border: solid 4px #5CDC95;
    background-color: #5CDC95;
    border-radius: 10px;
    transition: width 0.5s;
    margin-bottom: 30px;
}

main hr.subtitulo-hr:hover {
    width: 70%;
}

#sobre-mi hr.subtitulo-hr {
    width: 130px;
}

#sobre-mi hr.subtitulo-hr:hover {
    width: 50%;
}

.parrafo {
    text-align: justify;
    color: #ababab;
}

section#proyectos {
    background-color: #28293D;
    max-width: 1500px;
    margin: auto;
    overflow: hidden;
}

#proyectos hr.subtitulo-hr {
    width: 210px;
}

#proyectos hr.subtitulo-hr:hover {
    width: 50%;
}

div.proyectos {
    width: 100%;
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

div.proyecto {
    width: 30%;
    height: 390px;
    background-color: #1C1C27;
    border-radius: 10px;
}

div.img-proyecto {
    width: 100%;
    height: 150px;
    overflow: hidden;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

@supports(object-fit: cover) {
    div.img-proyecto img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center center;
        -webkit-transition: all .9s ease;
        /* Safari y Chrome */
        -moz-transition: all .9s ease;
        /* Firefox */
        -o-transition: all .9s ease;
        /* IE 9 */
        -ms-transition: all .9s ease;
        /* Opera */
        width: 100%;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }
}

div.img-proyecto img:hover {
    -webkit-transform: scale(1.25);
    -moz-transform: scale(1.25);
    -ms-transform: scale(1.25);
    -o-transform: scale(1.25);
    transform: scale(1.25);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

div.proyecto h4 {
    margin: 2vw;
    color: #5CDC95;
}

div.proyecto .parrafo {
    margin: 3vw;
}

section#habilidades {
    background-color: #1C1C27;
    max-width: 1500px;
    margin: auto;
    overflow: hidden;
}

#habilidades hr.subtitulo-hr {
    width: 165px;
}

#habilidades hr.subtitulo-hr:hover {
    width: 50%;
}

div.habilidades {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

div.habilidad-ind {
    width: 30%;
    height: 270px;
    background-color: #28293D;
    padding: 3vw;
    text-align: center;
    margin: 7px;
    border-radius: 10px;
}

div.habilidad-ind i {
    font-size: 70px;
    color: #5CDC95;
    margin-bottom: 30px;
    transition: color 0.5s;
}

div.habilidad-ind i:hover {
    color: #ababab;
}

div.habilidad-ind .parrafo {
    text-align: justify;
}

section#contactame {
    background-color: #28293D;
    max-width: 1500px;
    margin: auto;
    overflow: hidden;
}

#contactame hr.subtitulo-hr {
    width: 175px;
}

#contactame hr.subtitulo-hr:hover {
    width: 100%;
}

div.card {
    width: 50%;
    height: 330px;
    padding: 3vw;
    background-color: #1C1C27;
    float: left;
    border-radius: 10px;
}

div.card iframe {
    border-radius: 10px;
}

div.contact-right {
    width: 45%;
    float: right;
    margin-left: 2vw;
}

div.contact-right h2.subtitulo {
    margin-top: 30px;
}

div.icons-contact {
    height: 70px;
    display: flex;
    align-items: center;
}

img.icon-contact {
    width: 40px;
    margin-right: 2vw;
    float: left;
    background-color: #1C1C27;
    border-radius: 50%;
    transition: background-color 0.5s;
}

img.icon-contact:hover {
    background-color: #5CDC95;
}

section#contact-me p.parrafo {
    float: right;
    margin-top: 10px;
}

p.parrafo strong {
    color: #5CDC95;
}


footer {
    max-width: 1500px;
    margin: auto;
    background-color: #5CDC95;
    display: flex;
    align-items: center;
    justify-content: space-around;
    overflow: hidden;
}

.footer-left {
    width: 30%;
    padding: 5vw;
    padding-left: 10vw;

}

.footer-left img {
    width: 80%;
}

.footer-left span {
    color: #5CDC95;
}

.footer-center {
    width: 30%;
    padding: 5vw;
    display: flex;
    justify-content: center;
}


.footer-center img {
    width: 80px;
}

.footer-right {
    width: 30%;
    padding: 5vw;
    padding-right: 10vw;
    text-align: right;

}

.footer-right i {
    font-size: 25px;
    color: #fff;
    transition: color 0.5s;
}

.footer-right i:hover {
    color: #28293D;
}

.footer-right a {
    margin-left: 20px;
    text-decoration: none;
}

@media screen and (max-width: 900px) {
    /* Responsive Nav */

    .mostrar-menu-btn,
    .esconder-menu-btn {
        display: block;
        float: right;
    }

    nav {
        height: 100px;
        z-index: 1000;
    }

    nav .contenedor-nav {
        padding: 0 2vw;
    }

    nav .logo-cont {
        margin-right: 70px;
    }

    .menu {
        position: fixed;
        width: 35%;
        height: auto;
        background: #5CDC95;
        right: -100%;
        top: 0;
        text-align: left;
        padding: 80px 10vw;
        line-height: normal;
        transition: 0.5s;
        font-size: 25px;
        z-index: 100000;
        border-bottom-left-radius: 10px;
    }

    .menu a {
        display: block;
        padding: 20px;
        padding-right: 0;
        color: #fff;
        text-align: right;
    }

    .menu a:hover,
    .mostrar-menu-btn:hover,
    .esconder-menu-btn:hover {
        color: #28293D;
    }


    .esconder-menu-btn {
        position: absolute;
        line-height: 100px;
        top: 0;
        right: 7vw;
    }

    #chk:checked~.menu {
        right: 0;
    }

}